{% extends 'base/home.html' %}
{% load static from staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static "lib/datatables-1.10.19/dataTables.bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "lib/datatables-1.10.19/responsive-2.2.2/css/responsive.dataTables.min.css" %}"/>
    <link rel="stylesheet" href="{% static "lib/datatables-1.10.19/dataTables.fontAwesome.css" %}"/>
    <script src="{% static "lib/datatables-1.10.19/jquery.dataTables.js" %}"></script>
    <script src="{% static "lib/datatables-1.10.19/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "lib/datatables-1.10.19/Responsive-2.2.2/js/dataTables.responsive.min.js" %}"></script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="box box-primary">
            <div class="box-header">
                <b><i class="fa fa-search"></i> {{ title }}</b>
            </div>
            <div class="box-body">
                <table width="100%" class="table table-bordered table-hover" id="data">
                    <thead>
                    <tr>
                        {% block columns %}{% endblock %}
                    </tr>
                    </thead>
                    <tbody>
                    {% block rows %}{% endblock %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                {% block buttons %}

                {% endblock %}
            </div>
        </div>
    </section>
    <script type="application/javascript">
        var table;
        $(function () {
            table = $('#data').DataTable({
                responsive: true,
                autoWidth: false,
                destroy: true
            });

            $('.table').on('click', 'img', function () {
                var src = $(this).attr('src');
                Swal.fire({
                    title: 'Imagen',
                    text: src,
                    imageUrl: src,
                    imageWidth: 150,
                    imageHeight: 150,
                    imageAlt: 'Custom image',
                    animation: false,
                });
            });
        });
    </script>
{% endblock %}
